<table>

  <thead>

    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Data Nascimento</th>
      <th>Senha</th>
      <th>Criando em:</th>"
      <th></th>
    </tr>

  </thead>

  <tbody>

    <tr>
      <td>id</td>
      <td>Nome</td>
      <td>Email</td>
      <td>Telefone</td>
      <td>Celular</td>
      <td>Rg</td>
      <td>Cpf</td>
      <td>Data Nascimento</td>
      <td>Senha</td>
      <td>Criando em:</td>"
      <td></td>
    </tr>

  </tbody>

</table>
